@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Roboto+Slab&family=Zilla+Slab&family=Montserrat&display=swap');
:root {
   --white: #ECE9E9;
   --white-coffe: #D5CFCD;
   --coffe-toast: #363333;
   --coffe-easy: #A59793;
   --coffe-medium: #72615D;
   --gray: #3e4146;
   --black: #000000;
   --fontTitle: 'Zilla Slab', serif;
   --fontBody: 'Roboto Slab', serif;
   --font3: 'Cinzel', serif;

   --cafetera1: url(https://www.pexels.com/es-es/foto/olla-moka-gris-junto-a-taza-de-ceramica-blanca-sobre-mesa-de-madera-marron-593328/);
   --taza: url(https://www.pexels.com/es-es/foto/cafeina-cafe-bebidas-tazas-8846857/);
   --grano: url(https://www.pexels.com/es-es/foto/cafeina-cafe-marron-aromatico-10319208/);
}

html {
   scroll-behavior: smooth;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background: var(--white-coffe);
   font-family: Montserrat;
   transition: cubic-bezier(0.65,0.05,0.36,1);
}

h1 {
   color: var(--coffe-toast);
   font-family: var(--fontTitle);
   font-size: 28px;
   text-transform: uppercase;
}

p {
   color: var(--coffe-toast);
   font-family: var(--fontBody);
   font-size: 16px;
   font-weight: 400;
}
/*------SECCION DE NAVBAR------*/
#header {
   position: fixed;
   top: 0;
   height: 80px;
   width: 100%;
   z-index: 9;
}

#nav-bar {
   justify-content: left;
   display: flex;
   background:rgba(0, 0, 0, 0.2);
   box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
   width: 100%;
   height: 70px;
   line-height: 70px;
}
.logo {
   display: flex;
   text-align: center;
   position: relative;
}

.logo h1{
   cursor: default;
   text-transform: none;
   text-decoration: none;
   position: relative;
   margin: 0 10px;
   font-size: 2rem;
   font-family: var(--fontTitle);
   color: var(--white);
}

.logo i {
   font-size: 24px;
   line-height: 70px;
   margin-right: 20px;
   color: var(--white);
}
.nav-link {  
   color: var(--white);
   font-size: 1.2rem;
   text-align: center;
   text-decoration: none;
   position: relative;
   margin: 0 10px;
}
.nav-link:hover {
   color: var(--coffe-easy);
}

/*------SECCION DE HERO------*/
#hero {
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  overflow: hidden;
}
#hero img {
   height: auto;
   width: auto;
   max-width: 100%;
}
#hero .title-form {
   right: 5em;
   font-family: var(--fontTitle);
   display: flex;
   align-items: center;
   position: absolute;
   flex-direction: column;
}
#hero .title-form h1 {
   font-size: 28px;
   color: var(--white-coffe);
}

#hero .title-form form {
   overflow: hidden;
}
#hero .title-form form input {
   margin-top: 10px;
   padding: 15px 20px;
   text-align: center;
   font-family: inherit;
   font-size: 1rem;
   letter-spacing: 0.05rem;
   outline: 0;
}

#hero [type=email] {
   width: 300px;
   background: none;
   border: 1px solid var(--coffe-medium);
   border-radius: 10px 0 0 10px;
   color: var(--white-coffe);
}  

#hero [type=submit] {
   background: var(--coffe-medium);
   color: var(--white-coffe);
   border-radius: 0 10px 10px 0;
   border: 1px solid var(--coffe-medium);
}  

#hero [type=submit]:hover {
   cursor: pointer;
   border: 1px solid var(--coffe-easy);
   background: var(--coffe-easy);
   color: var(--coffe-toast);
   transition: (all .4s);
}

/*------SECCION DE ABOUT------*/
#About {
   height: 70vh;
   width: 100%;
   padding-top: 50px;
   justify-content: center;
   display: grid;
   grid-template-columns: repeat(2, 40%);
   column-gap: 10%;
}
.about-us {
   align-items: flex-start;
   justify-content: center;
   display: flex;
   flex-direction: column;
   margin-bottom: 25%;
}
.about-us h1 {
   padding: 3%;
   margin: 1%;
   border-left: 2px solid var(--coffe-toast);
}
.img-container {
   width: auto;
   height: auto;
   max-height: 350px;
   justify-content: center;
   align-items: center;
   padding: 15px;
}
.img1 {
   position: relative;
   border-left: 2px dashed var(--coffe-toast);
   border-top: 2px dashed var(--coffe-toast);
}

.img2 {
   position: absolute;
   transform: translate(-80px, 30%);
   border-right: 2px dashed var(--coffe-toast);
   border-bottom: 2px dashed var(--coffe-toast); 
}

/* 
https://pixabay.com/es/photos/cafetera-francesa-embolo-prensa-2220369/
 */

/*------SECCION DE PRODUCT------*/
#Product {
   padding: 5%;
   height: 100vh;
   width: 100%;
   justify-content: center;
   display: flex;
   background: var(--coffe-toast); 
}

#Product h1 {
   text-align: center;
   color: var(--white-coffe);
   border-top: 2px solid var(--white-coffe);
   width: 150px;
}

.card-container {
   height: 90vh;
   width: 100%;
   display: grid;
   grid-template-columns: repeat(3, 33%);
   gap: 50px;
   justify-content: center;
   align-items: center;
}

.card {
   color: var(--white);
   display: flex;
   overflow: hidden;
   position: relative;
   width: 250px;
   height: 370px;
   background: var(--coffe-toast);
   box-shadow: 0 15px 45px rgba(0, 0, 0, 0.1);
   overflow: hidden;
   transition: 0.5s ease-in-out;
}

.card:hover {
   width: 500px;
   transition: 0.7s ease-in-out;
}

.cardMoka {transition: 0.7s ease-in-out;}
.cardPrensa {transition: 0.7s ease-in-out;}
.cardFiltro {transition: 0.7s ease-in-out;}

.cardMoka:hover {
   transform: translateX(-130px);
   transition: 0.7s ease-in-out;
}

.cardPrensa:hover {
   transform: translateX(-130px);
   transition: 0.5s ease-in-out;
}

.cardFiltro:hover {
   transform: translateX(-130px);
   transition: 0.5s ease-in-out;
}

.card .imgCoffe {
   position: relative;
   min-width: 250px;
   height: 100%;
   background: transparent;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
}

.card .imgCoffe img {
   max-width: 250px;
   transition: 0.5s ease-in-out;
}

.card:hover .imgCoffe img {
   transform: scale(1.2);
   
}
.card .details {
   position: relative;
   min-width: 250px;
   height: 100%;
   background: var(--coffe-medium);
   display: flex;
   justify-content: center;
   /* align-items: center; */
   padding: 15px;
   flex-direction: column;
}

.card .details::before {
   content: '';
   position: absolute;
   left: 0;
   width: 0;
   height: 0;
   border-top: 10px solid transparent;
   border-bottom: 10px solid transparent;
   border-left: 10px solid var(--coffe-toast);
}

.card .details h3 {
   color: var(--white-coffe);
   text-transform: uppercase;
   font-weight: 600;
   font-size: 1.4em;
}

.card .details h3 span {
   font-size: 1em;
   font-weight: 300;
   text-transform: none;
}

.card .details h4 {
   text-transform: uppercase;
   font-weight: 600;
   font-size: 0.9em;
   margin-top: 20px;
   margin-bottom: 10px;
   line-height: 1em;
}

.form-group {
   flex-direction: row;

   gap: 20px;
}
.bx { 
   font-size: 34px;
}
.bx-checkbox {
   display: block;
   position: relative;
}

.bx-checkbox-square {
   display: none;
   position: absolute;
}
.black {
   color: black;
}
.bx::after{
   background-color: black;
}

.card .details .form-group {
   list-style: none;
   font-size: 1em;
   width: 40px;
   height: 40px;
   display: flex;
}

.card .details .form-group .form-group-order {
   flex-direction: column;
}
.card .details .form-group h5 {
   display: flex;
   margin-top: 5px;
}

.card .details .group {
   position: relative;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 20px;
}

.card .details .group h2 {
   color: var(--white);
   font-weight: 600;
   font-size: 1.7em;
}

.card .details .group h2 sup {
   font-weight: 300;
}

.card .details .group h2 small {
   font-size: 0.60em;
}

.card .details .group a {
   display: inline-flex;
   padding: 8px 18px;
   margin-bottom: 0;
   background: var(--white);
   text-align: center;
   text-decoration: none;
   text-transform: uppercase;
   font-weight: 500;
   color: var(--coffe-medium);
}
/*------SECCION DE MATERIALS------*/

/*------SECCION DE CONTACT------*/
#Contact {
   
   padding: 5%;
   height: 100vh;
   width: 100%;
   background: var(--coffe-toast); 
}

#Contact h1 {
   width: 150px;
   margin: 30px;
   text-align: center;
   color: var(--white-coffe);
   border-bottom: 2px solid var(--white-coffe);
}

.title-product {
   top: 40px;
}

.contact {
   display: flex;
   justify-content: center;
   align-items: center;
}
.containerContact {
   position: relative;
   min-width: 1100px;
   min-height: 550px;
   display: flex;
   z-index: 1000;
}
.containerContact .contactMap {
   position: absolute;
   top: 40px;
   width: 350px;
   height: calc(100% - 80px);
   background: var(--gray);
   z-index: 1;
   box-shadow: 0 20px 25px rgba(0, 0, 0, 0.35);
}

.containerContact .contactMap .row {
   display: flex;
   background: var(--black);
   flex-wrap: wrap;
}

.containerContact .contactMap .row .map {
   flex: 1 1 45rem;
   width: 100%;
   height: 470px;
   object-fit: cover;
}

.containerContact .contactForm {
   position: absolute;
   padding: 50px 50px;
   padding-left: 250px;
   margin-left: 150px;
   width: calc(100% - 150px);
   height: 100%;
   background: var(--white-coffe);
}

.containerContact .contactForm h3 {
   text-transform: uppercase;
   font-size: 24px;
   font-weight: 500;
   margin-bottom: 35px;
}

.containerContact .contactForm .formBox {
   position: relative;
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   font-size: 18px;
   font-weight: 300;
}

.containerContact .contactForm .formBox  .inputBox {
   position: relative;
   margin-bottom: 35px;
}

.containerContact .contactForm .formBox  .inputBox.w50 {
   width: 47%;
}

.containerContact .contactForm .formBox  .inputBox.w100 {
   width: 100%;
}

.containerContact .contactForm .formBox  .inputBox input,
.containerContact .contactForm .formBox  .inputBox textarea {
   width: 100%;
   resize: none;
   padding: 5px 0;
   font-size: 18px;
   font-weight: 300;
   background: transparent;
   color: var(--coffe-toast);
   border: none;
   outline: none;
   border-bottom: 1px solid var(--gray);
}

.containerContact .contactForm .formBox  .inputBox textarea {
   height: 100px;
}

.containerContact .contactForm .formBox  .inputBox span {
   position: absolute;
   left: 0;
   padding: 5px 0;
   pointer-events: none;
   font-size: 18px;
   font-weight: 300;
   transition: 0.3s;
}

.containerContact .contactForm .formBox 
   .inputBox input:focus ~ span,
.containerContact .contactForm .formBox 
   .inputBox input:valid ~ span,
.containerContact .contactForm .formBox 
   .inputBox textarea:focus ~ span,
.containerContact .contactForm .formBox 
   .inputBox textarea:valid ~ span 
{
   transform: translateY(-20px);
   font-size: 12px;
   font-weight: 400;
   color: var(--coffe-medium);
}

.containerContact .contactForm .formBox .inputBox input[type="submit"] {
   position: relative;
   cursor: pointer;
   background: var(--white);
   color: var(--gray);
   border: none;
   border-radius: 5px;
   max-width: 150px;
   padding: 12px;
}

.containerContact .contactForm .formBox .inputBox input[type="submit"]:hover {
   background: var(--coffe-easy);
   color: var(--white);
   transition: all 0.3s ease-in-out;
}

/* 
.formBox .btn-submit {
   position: relative;
   padding: 20px 50px;
   display: block;
   text-decoration: none;
   text-transform: uppercase;
   width: 200px;
   overflow: hidden;
  border-radius: 40px;
}

.formBox .btn-submit input{
   position: relative;
   color: #fff;
   font-size: 20px;
   font-family: Arial;
   letter-spacing: 8px;
   z-index: 1;
}

.formBox .btn-submit .liquid {
  position: absolute;
  top: -80px;
  left: 0;
  width: 200px;
  height: 200px;
  background: #4973ff;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, .5);
  transition: .5s;
}

.formBox .btn-submit .liquid::after,
.formBox .btn-submit .liquid::before {
  content: '';
  width: 200%;
  height: 200%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
  background: #000;
}



.formBox .btn-submit .liquid::before {
  
  border-radius: 45%;
  background: rgba(20, 20, 20, 1);
  animation: animate 5s linear infinite;
}

.formBox .btn-submit .liquid::after {
  
  border-radius: 40%;
  background: rgba(20, 20, 20, .5);
  animation: animate 10s linear infinite;
}

.formBox .btn-submit:hover .liquid{
  top: -120px;
}

@keyframes animate {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}
 */